body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.container {
    width: 400px;
    margin: 80px auto;
    background: white;
    padding: 30px;
    text-align: center;
    border-radius: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

img {
    margin-top: 20px;
    width: 200px;
}